/*<meta sourceDocument="C:\Users\cecheverria\Desktop\TRIAGE\178607\S072370\framemaker for Madcap\FM\W47170002.book" />*/

span.Level
{
	font-family: Calibri;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #0019e5;
	line-height: 12pt;
	text-decoration: none;
}

span.Bold
{
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
}

p.MF_TOC
{
	text-align: left;
	margin-left: 1.9685in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.H0N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.H1N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 24px;
	line-height: 14pt;
	text-decoration: none;
}

p.H2TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 48px;
	line-height: 14pt;
	text-decoration: none;
}

p.H2N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 48px;
	line-height: 14pt;
	text-decoration: none;
}

p.H4TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 96px;
	line-height: 14pt;
	text-decoration: none;
}

p.H1TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 24px;
	line-height: 14pt;
	text-decoration: none;
}

p.H3TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 72px;
	line-height: 14pt;
	text-decoration: none;
}

p.H3N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 72px;
	line-height: 14pt;
	text-decoration: none;
}

p.H4_LandscapeTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 96px;
	line-height: 14pt;
	text-decoration: none;
}

p.H5N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 120px;
	line-height: 14pt;
	text-decoration: none;
}

p.H5TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 120px;
	line-height: 14pt;
	text-decoration: none;
}

p.H4N_New_PageTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 96px;
	line-height: 14pt;
	text-decoration: none;
}

p.H2N_New_Page_-_ModuleTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 48px;
	line-height: 14pt;
	text-decoration: none;
}

p.H1N_New_Page_-_ModuleTOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 24px;
	line-height: 14pt;
	text-decoration: none;
}

p.H0TOC
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 4pt;
	font-family: Calibri;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p._1_Draft
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 48pt;
	letter-spacing: 0em;
	color: #0000ff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 48pt;
	text-decoration: none;
}

span.Blue_No_Show
{
	letter-spacing: 0em;
	color: #0000ff;
	text-decoration: none;
}

p._1_Document_No
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 16pt;
	text-decoration: none;
}

p._W_Warning
{
	text-align: left;
	margin-left: 1.9685in;
	margin-right: 1.5748in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.CoverSubtitle
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 18pt;
	text-decoration: none;
}

p._1_Manual_Type_Short
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 40pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 40pt;
	text-decoration: none;
}

p.CoverTitle
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 25pt;
	text-decoration: none;
}

p.Front_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.Front_Sub_Text
{
	text-align: left;
	margin-left: 0.27559in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.Subtitle
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
}

p.Company_Name
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 16pt;
	text-decoration: none;
}

p.TT1_TOC_Text_1
{
	text-align: left;
	margin-left: 0.59055in;
	margin-right: 0.35433in;
	margin-top: 0pt;
	margin-bottom: 20pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 56.6928px;
	line-height: 18pt;
	text-decoration: none;
}

p._2_Draft
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 36pt;
	letter-spacing: 0em;
	color: #0000ff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 36pt;
	text-decoration: none;
}

p.B_Blank
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.z_Blank
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 233pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'This page is intentionally left blank';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.H0N_New_Page
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 75pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 34pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H:{chapnum} ';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 41pt;
	text-decoration: none;
}

p.G_Graphic
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 0pt;
	text-decoration: none;
}

p.T_Text
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.HT_Table_of_Contents
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 9pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'Table of Contents';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 22pt;
	text-decoration: none;
}

p.H1N_New_Page
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 22pt;
	text-decoration: none;
}

p.H2
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 20pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 19pt;
	text-decoration: none;
}

p.TH_TableHeadRow
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.P1_Pos_1
{
	text-align: left;
	margin-left: 0.27559in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'L: {n=1} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45664px;
	line-height: 12pt;
	text-decoration: none;
}

p.TT_Table_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
}

p.PC_Pos_Cont
{
	text-align: left;
	margin-left: 0.27559in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'L: {n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45664px;
	line-height: 12pt;
	text-decoration: none;
}

p.H2N_New_Page
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 19pt;
	text-decoration: none;
}

p.PL_Pre_List
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 4pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.ST_Sub_Text
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.H4
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 16pt;
	margin-bottom: 8pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.AT_Pos_1
{
	text-align: left;
	margin-left: 0.27559in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'L: {a=1} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45664px;
	line-height: 12pt;
	text-decoration: none;
}

p.AT_Pos_Cont
{
	text-align: left;
	margin-left: 0.27559in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'L: {a+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45664px;
	line-height: 12pt;
	text-decoration: none;
}

p.z_Danger_Icon
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 2pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 2pt;
	text-decoration: none;
}

p._WT_War_Dan_Text
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.H1
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 19pt;
	margin-bottom: 4pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 18pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 22pt;
	text-decoration: none;
}

p.z_Warning_Icon
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 2pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 2pt;
	text-decoration: none;
}

p._C_Caution
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: ' Caution! ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	mc-auto-number-class: Bold;
	line-height: 14pt;
	text-decoration: none;
}

p._I_Important
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: ' Important! ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	mc-auto-number-class: Bold;
	line-height: 14pt;
	text-decoration: none;
}

p._N_Note
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: ' Note! ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	mc-auto-number-class: Bold;
	line-height: 14pt;
	text-decoration: none;
}

p.BB_Bullet
{
	text-align: left;
	margin-left: 2.047in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.43361px;
	line-height: 14pt;
	text-decoration: none;
}

p.BI_BulletIndented
{
	text-align: left;
	margin-left: 2.362in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 30.23999px;
	line-height: 14pt;
	text-decoration: none;
}

p.TB_Table_Bullet
{
	text-align: left;
	margin-left: 0.19in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 18.24px;
	line-height: 12pt;
	text-decoration: none;
}

p._WH_War_Dan_Head
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

span.XRef
{
	font-weight: bold;
	letter-spacing: 0em;
	color: #ff0000;
	text-decoration: none;
}

p.CB_Cont_Bottom
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '(Cont’d)';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.CT_Cont_Top
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 8pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: italic;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '(Cont’d)';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-class: Italic;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.NC_NumberedCont
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45663px;
	line-height: 14pt;
	text-decoration: none;
}

p.N_Numbered1
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45663px;
	line-height: 14pt;
	text-decoration: none;
}

p.H3
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 10pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n}.{n}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 17pt;
	text-decoration: none;
}

p.H3N_New_Page
{
	text-align: left;
	margin-left: 1.77165in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 6pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'H: {chapnum}.{n}.{n}.{n+} ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 170.0784px;
	line-height: 17pt;
	text-decoration: none;
}

p.SD_Sub_Dash
{
	text-align: left;
	margin-left: 2.24409in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '– ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 18.89763px;
	line-height: 14pt;
	text-decoration: none;
}

p.TBI_Table_Bullet_Indented
{
	text-align: left;
	margin-left: 0.38in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '– ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 18.24px;
	line-height: 12pt;
	text-decoration: none;
}

p.BE_Bullet_End
{
	text-align: left;
	margin-left: 2.047in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.43361px;
	line-height: 14pt;
	text-decoration: none;
}

p.A1_Alpha_Start
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{a=1}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45663px;
	line-height: 14pt;
	text-decoration: none;
}

p.AC_Alpha_Cont
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'A:{a+}) ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45663px;
	line-height: 14pt;
	text-decoration: none;
}

p._NT_NoteTable
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'Note!  ';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-class: Bold;
	text-indent: -19px;
	line-height: 11pt;
	text-decoration: none;
}

p.Body
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.TS1_Table_Step_1
{
	text-align: left;
	margin-left: 0.19in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'T:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 18.24px;
	line-height: 12pt;
	text-decoration: none;
}

p.TS_Tables_Steps
{
	text-align: left;
	margin-left: 0.19in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: 'T:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 18.24px;
	line-height: 12pt;
	text-decoration: none;
}

span.Display_Message
{
	font-family: 'Arial Narrow';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #000000;
	line-height: 12pt;
	text-transform: uppercase;
	text-decoration: none;
}

p.NE_Numered_End
{
	text-align: left;
	margin-left: 2.04724in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	mc-auto-number-format: '{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 26.45663px;
	line-height: 14pt;
	text-decoration: none;
}

span.Red
{
	letter-spacing: 0em;
	color: #ff0000;
	text-decoration: none;
}

p.z_H0_Header_LP
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.z_Final_Logo
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 2pt;
	letter-spacing: 0em;
	color: #ffffff;
	text-indent: 0px;
	line-height: 0pt;
	text-decoration: none;
}

p.z_H1_Header_LP
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.z_Doc_Status
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 24pt;
	letter-spacing: -0.05em;
	color: #0000ff;
	text-indent: 0px;
	line-height: 29pt;
	text-decoration: none;
}

p.z_file_name
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 6pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 7pt;
	text-decoration: none;
}

p.z_Page_LP
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.z_Doc_Number
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.z_H0_Header_RP
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.z_H1_Header_RP
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 14pt;
	text-decoration: none;
}

p.z_Page_RP
{
	text-align: right;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	letter-spacing: 0em;
	color: #000000;
	text-indent: 0px;
	line-height: 19pt;
	text-decoration: none;
}

p.GL_Graphic_Landscape
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 2pt;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	color: #ffffff;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 0pt;
	text-decoration: none;
}

